<ion-view view-title="Daftar Pustaka" class="background">
    <ion-content class="overlay">
        <div class="head-container">
            <img style="width: 100%;" src="img/pustaka-head.jpg"/>
            <div class="bottom-left" style="padding-left: 20px;width: 100%;background-color: rgba(255,255,255,0.8)">
                <h2 style="color: black;font-family: 'Dosis'"><strong>Referensi</strong></h2>
            </div>
        </div>
        <div ng-include src="'slice/content_development.html'"></div>
        <div class="row">
            <div class="col">
                <div class="card animated rubberBand">
                    <div class="item item-text-wrap">
                        Campbell, Neil A and Jane B. Recce. 2010. <span class="italic">Biologi Edisi kedelapan Jilid</span> 3. Jakarta: Erlangga.
                    </div>
                    <div class="item item-text-wrap">
                        Ferdinand, Fictor dan Moekti Ariebowo. 2009. <span class="italic">Praktis Belajar Biologi</span>. Jakarta: Visindo Media Persada.
                    </div>
                    <div class="item item-text-wrap">
                        Kemenkes. 2012. <span class="italic">Survei Demografi dan Kesehatan Indonesia</span>. http://kesga.kemkes.go.id/images/pedoman/SDKI-2012-Remaja-Indonesia.pdf. Diakses tanggal 30 Desember 2017..
                    </div>
                    <div class="item item-text-wrap">
                        Kristiyanasari, Weni. 2011. <span class="italic">ASI, Menyusui dan Sadari</span>. Yogyakarta: Nuha Medika.
                    </div>
                    <div class="item item-text-wrap">
                        Mescher, Anthony L. 2012.<span class="italic"> Histologi Dasar Edisi</span> 12. Jakarta: EGC.
                    </div>	
                    <div class="item item-text-wrap">
                        Mulyani, Nina Siti dan Mega Rinawati. 2013. <span class="italic">Keluarga Berencana dan Alat Kontrasepsi</span>. Yogyakarta: Nuha Medika.
                    </div>
                    <div class="item item-text-wrap">
                        Pearce, Evelin C. 2009. <span class="italic">Anatomi dan Fisiologi Untuk Paramedis</span>. Jakarta: PT Gramedia Pustaka Utama.
                    </div>
                    <div class="item item-text-wrap">
                        Purnomo, dkk. 2009. <span class="italic">Biologi Kelas XI Untuk SMA/MA</span>. Jakarta: PT. Intan Pariwara.
                    </div>
                    <div class="item item-text-wrap">
                        Sherwood, Lauralee. 2011. <span class="italic">Fisiologi Manusia dari Sel ke Sistem</span>. Jakarta: EGC. 
                    </div>
                    <div class="item item-text-wrap">
                        Widayati, Sri, Siti Nur Rochman, dan Meirina Arif P. 2009. <span class="italic">Biologi SMA/MA Untuk Kelas XI</span>. Jakarta: Pustaka Insan Media. 
                    </div>
                    <div class="item item-text-wrap">
                        Yahya, H. 2006. <span class="italic">Fakta Tentang Air Susu Ibu</span>. <a onclick="window.open('http://www.harunyahya.com', '_system', 'location=yes'); return false;">http://www.harunyahya.com</a>. Di akses tanggal 21 Agustus 2017.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>