<ion-view view-title="Home" class="background">
    <ion-content>
        <div style="padding-top: 30px;"></div>
        <div ng-include src="'slice/content_development.html'"></div>
        <div class="sub-overlay">
            <div class="home">
                <center>
                    <h3 class="no-margin-padding" style="color: #003366" class="strong">E-Modul Biologi</h3>
                    <h2 class="no-margin-padding" style="color: #003366">SISTEM REPRODUKSI MANUSIA</h2>
                    <h4 class="no-margin-padding" style="color: #000">Untuk SMA/MA Kelas XI</h4>
                    <!--            <h3>Untuk memulai, klik tombol <i class="icon ion-navicon-round"></i> di sudut kiri atas!</h3>-->
                </center>
            </div>
        </div>
        <br/>
        <center>
            <div class="row">
                <div class="col">
                    <img class="logo" src="img/logo-uad.png"/>
                    <br/><br/><br/>
                    <div style="padding: 0 20px;">
                        <h4 class="no-margin-padding" style="color: #ffcc66">PENDIDIKAN BIOLOGI</h4>
                        <h4 class="no-margin-padding" style="color: #ffcc66">FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h4>
                        <br/>
                        <h4 class="no-margin-padding" style="color: #fff">UNIVERSITAS AHMAD DAHLAN</h4>
                        <h4 class="no-margin-padding" style="color: #fff">YOGYAKARTA 2018</h4>
                    </div>
                </div>
            </div>
        </center>
    </ion-content>
</ion-view>
