<ion-view align-title="center" view-title="KI &amp; KD" class="background">
    <ion-content class="overlay">
        <div class="head-container">
            <img style="width: 100%;" src="img/petunjuk-head.jpg"/>
            <div class="bottom-left" style="padding-left: 20px;width: 100%;background-color: rgba(255,255,255,0.8)">
                <h2 style="color: black;font-family: 'Dosis'"><strong>Kompetensi</strong></h2>
            </div>
        </div>
        <div ng-include src="'slice/content_development.html'"></div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-divider card-footer-blue-text-white">
                        <i class="icon ion-android-bulb"></i> Kompetensi Inti (KI)
                    </div>
                    <div class="item item-text-wrap">
                        <strong>KI 3.</strong>	Memahami, menerapkan, dan menganalisis pengetahuan faktual, konseptual,prosedural, dan metakognitif berdasarkan rasa ingin tahunya tentang ilmu pengetahuan, teknologi, seni, budaya, dan humaniora dengan wawasan kemanusiaan,  kebangsaan, kenegaraan, dan peradaban terkait penyebab fenomena dan kejadian, serta menerapkan pengetahuan prosedural pada bidang kajian yang spesifik sesuai dengan bakat dan minatnya untuk memecahkan masalah
					</div>
                    <div class="item item-text-wrap">
                        <strong>KI 4.</strong>	Mengolah, menalar, dan menyaji dalam ranah konkret dan ranah abstrak terkait dengan pengembangan dari yang dipelajarinya di sekolah secara mandiri, bertindak secara efektif dan kreatif, serta mampu menggunakan metoda sesuai kaidah keilmuan.
					</div>
                </div>
                <div class="card animated fadeInLeft">
                    <div class="item item-divider card-footer-blue-text-white">
                        <i class="icon ion-android-list"></i> Kompetensi Dasar (KD)
                    </div>
                    <div class="item item-text-wrap">
                        <span><strong>KD 3.12.</strong>	Menganalisis hubungan  antara struktur jaringan penyusun organ reproduksi dengan fungsinya dalam proses reproduksi manusia melalui studi literatur.</span>
                    </div>
                    <div class="item item-text-wrap">
                        <span><strong>KD 4.13.</strong> Menyajikan hasil analisis tentang kelainan pada struktur dan fungsi organ yang menyebabkan gangguan sistem reproduksi manusia melalui berbagai bentuk media presentasi.</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>