<ion-view align-title="center" view-title="Profile" class="background">
    <ion-content class="overlay">  
        <div class="head-container">
            <img style="width: 100%;" src="img/profil-head.jpg"/>
            <div class="bottom-left" style="padding-left: 20px;width: 100%;background-color: rgba(255,255,255,0.8)">
                <h2 style="color: black;font-family: 'Dosis'"><strong>Profil Pemateri</strong></h2>
            </div>
        </div>
        <div ng-include src="'slice/content_development.html'"></div>
        <div class="padding">
            <div class="row">
                <div class="col">
                    <div class="animated fadeInRight">
                        <p class="justify paragraph">
                            Risman dilahirkan di Desa Sumber Makmur, Kec. Sungai Rumbai, Kab. Mukomuko, Prov. Bengkulu pada tanggal 17 Februari 1993. Menyelesaikan pendidikan formal di Madrasah Aliyah Negeri Ipuh pada tahun 2012 dan saat ini saya sedang menempuh studi S1 di Universitas Ahmad Dahlan dengan program studi Pendidikan Biologi, Fakultas Keguruan dan Ilmu Pendidikan. Pengembangan e-modul pembelajaran pada sub materi sistem reproduksi manusia berbasis android ini dilakukan dalam rangka penelitian skripsi. Harapannya modul berbasis android ini bermanfaat bagi banyak pengguna, khususnya bagi para pelajar. Namun tidak dipungkiri bahwa dalam pengembangan modul ini masih jauh dari kesempurnaan. Oleh sebab itu kritik dan saran yang membangun sangatlah penulis harapkan.
                        </p>
                    </div>
                    <div class="clear"></div>
                    <h3 style="font-family: 'Dosis'"><strong>Kontak &amp; Informasi</strong></h3>
                </div>
            </div>
            <center>
                <div class="row animated fadeInDown profile">
                    <div class="col-25 email">
                        <button onclick="window.open('mailto: risman.gtu@gmail.com', '_system', 'location=yes'); return false;" class="button button-email icon ion-email"></button>
                    </div>
                    <div class="col-25 fb">
                        <button onclick="window.open('https://www.facebook.com/risman.adja.77', '_system', 'location=yes'); return false;" class="button button-fb icon ion-social-facebook"></button>
                    </div>
                    <div class="col-25 bbm">
                        <button onclick="window.open('bbmi://57A2412A', '_system', 'location=yes'); return false;" class="button button-bbm icon ion-chatbubbles"></button>
                    </div>
                    <div class="col-25 wa">
                        <button onclick="window.open('tel:085200623162', '_system', 'location=yes'); return false;" class="button button-wa icon ion-android-call"></button>
                    </div>
                </div>
            </center>
            <br/>
        </div>
    </ion-content>
</ion-view>
