<ion-view view-title="Uraian Materi 3" class="background">
    <ion-content class="overlay">
        <div class="head-container">
            <img style="width: 100%;" src="img/materi-head.jpg"/>
            <div class="bottom-left" style="padding-left: 20px;width: 100%;background-color: rgba(255,255,255,0.8)">
                <h2 style="color: black;font-family: 'Dosis'"><strong>Materi III</strong></h2>
            </div>
        </div>
        <div class="padding"> 
            <!--<div ng-include src="'slice/content_development.html'"></div>-->
            <div class="row">
                <div class="col">	
                    <!--<center><h3>Daur Biogeokimia</h3></center>-->
                    <div class="card">
                        <div class="item item-text-wrap card-footer-blue">
                            <h2 style="font-family: 'Dosis';font-weight: bolder;" class="kegiatan-title strong" align="center"> MATERI III<br/>
                                GANGGUAN REPRODUKSI PADA MANUSIA
                            </h2>
                        </div> 
                        <div class="item item-text-wrap" align="justify">
                            <span>
                                Memberikan pemahaman dan pengetahuan dasar mengenai kesehatan reproduksi selain bertujuan agar remaja memiliki sikap dan perilaku yang bertanggung jawab di masyarakat juga berguna agar terhindar dari penyakit menular seksual (PMS).  PMS merupakan suatu infeksi atau penyakit yang ditularkan melalui hubungan seksual. PMS juga diartikan sebagai penyakit kelamin, atau infeksi yang ditularkan melalui hubungan seksual. PMS menyerang sekitar alat kelamin tetapi gejalanya dapat muncul dan menyerang mata, mulut, saluran pencernaan, hati, otak, dan organ tubuh lainnya.
                            </span><br/><br/>
                            <span>
                                Kebanyakan PMS dapat membahayakan organ-organ reproduksi. Pada wanita, PMS menghancurkan dinding vagina atau leher rahim, biasanya tanpa tanda-tanda infeksi. Pada pria, yang lebih dulu terinfeksi adalah saluran kencingnya. Jika PMS tidak diobati dapat menyebabkan keluarnya cairan yang tidak normal dari penis dan berakibat sakit pada waktu buang air kecil. Selain itu PMS yang tidak diobati juga dapat mempengaruhi organ-organ reproduksi bagian dalam dan menyebabkan kemandulan baik pada pria maupun wanita. Berikut akan dibahas satu persatu jenis-jenis PMS:
                            </span>
                        </div>
                    </div>
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            1.	Gonorhoe (Kencing Nanah)
                        </div>
                        <div class="item item-text-wrap">
                            Penyakit ini disebabkan oleh bakteri <span class="italic">Neisseria gonorrhoeae</span>. Gonorhoe merupakan penyakit infeksi akut yang yang menyerang selaput lendir pada uretra, serviks, rektum, sendi, tulang, faring dan mata. Jika tidak segera di obati, penyakit ini dapat menyebabkan kemandulan. Penyakit ini dapat menular dari ibu yang terinfeksi kepada bayinya yang dilahirkan. Bayi yang terinfeksi gonorhoe matanya tampak merah dan bengkak. Dalam waktu 1-5 hari setelah kelahiran, mata tersebut dapat mengeluarkan cairan yang kental sehingga dapat menyebabkan kebutaan apabila tidak segera diobati. Gejalanya adalah rasa sakit saat buang air kecil dan keluarnya nanah berwarna kuning kehijauan dari uretra (Purnomo, 2009 :344).
                        </div>
                    </div>
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            2.	Klamidia
                        </div>
                        <div class="item item-text-wrap">
                            <span>
                                Penyakit ini disebabkan oleh <span class="italic">Chlamydia trachomatis</span> dan dapat menjangkiti pria maupun wanita. Gejala yang ditimbulkan hampir sama dengan gonorhoe ditambah dengan terjadinya radang leher rahim pada wanita (Purnomo, 2009 :344).
                            </span>
                        </div>
                    </div>
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            3.	Infeksi Trikomonas
                        </div>
                        <div class="item item-text-wrap">
                            <span>
                                Sebuah infeksi umum yang terjadi terus-menerus di saluran kencing perempuan. Infeksi ini disebabkan oleh Protozoa <span class="italic">Trichomonas vaginalis</span>. Banyak terjadi di seluruh dunia dan terutama di diagnosis pada wanita berusia 16-35 tahun. Pada wanita, infeksi ini menyebabkan peradangan di vagina sehingga banyak mengeluarkan cairan yang berwarna kuning dan berbau tidak enak. Gejala penyakit ini berupa peradangan saluran kencing. Diagnosis dilakukan dengan pemeriksaan mikroskopik dari cairan serta perlu di adakan identifikasi mengenai ada tidaknya parasit (Purnomo, 2009 :344).
                            </span>
                        </div>
                    </div>
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            4.	Silifis (Raja Singa)
                        </div>
                        <div class="item item-text-wrap">
                            <span>
                                Penyakit sifilis atau raja singa disebabkan oleh bakteri <span class="italic">Treponema pallidum</span>. Penyakit ini menular melalui hubungan seksual. Gejala yang timbul adalah luka pada kemaluan, bintik atau bercak merah di tubuh, kelainan saraf, jantung, pembuluh saraf dan kulit. Penyakit ini terdiri atas beberapa stadium. Pada stadium lanjut, sifilis tidak hanya menyerang organ-organ reproduksi, tetapi juga menyerang organ-organ tubuh yang lain, misalnya hati, susunan saraf dan otak. Sifilis dapat diobati dengan pinisilin dosin tinggi, namun kerusakan jaringan yang terjadi selama infeksi tidak dapat disembuhkan kembali (Purnomo, 2009 :344).

                            </span>
                        </div>
                    </div>
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            5.	Herpes Genitalis
                        </div>
                        <div class="item item-text-wrap">
                            <span>
                                Penyakit ini disebabkan oleh virus <span class="italic">Herpes simplex</span> tipe 2 (HSV-2). Gejala yang paling umum adalah bintil-bintil berisi cairan dan terasa sakit. Bintil-bintil dapat muncul di daerah sekitar alat kelamin atau dubur serta mulut. Bintil-bintil akan timbul selama 1-3 minggu, dan kemudian hilang. Beberapa waktu kemudian bintil-bintil akan muncul dan hilang secara berulang. Sebelum bintil-bintil muncul, alat kelamin terasa gatal atau panas. Setelah itu penderita akan mengalami gejala seperti flu. Walaupun infeksi herpes di kemaluan tidak bisa diobati, perkembangan klinisnya bisa dikurangi dengan pengobatan (Purnomo, 2009 :345).

                            </span>
                        </div>
                    </div>
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            6.	Kutil Kelamin
                        </div>
                        <div class="item item-text-wrap">
                            <span>
                                Penyakit ini disebabkan virus Papilloma manusia (HPV: Human Papilloma Virus). Kutil-kutil ini tumbuh di daerah kemaluan, tetapi dapat juga tumbuh di sekitar dubur (Purnomo, 2009 :345).
                            </span>
                        </div>
                    </div> 
                    <div class="card" align="justify">
                        <div class="item item-text-wrap item-divider card-footer-blue-text-white" >
                            7.	<i>Acquired Immune Deficiency Syndrom</i> (AIDS)
                        </div>
                        <div class="item item-text-wrap">
                            <span>
                                AIDS merupakan sekumpulan gejala penyakit yang timbul karena menurunnya kekebalan tubuh. AIDS disebabkan oleh virus HIV <span class="italic">(Human Immunodeficiency Virus)</span> di dalam tubuh. HIV merupakan suatu virus yang menyerang sel darah putih manusia dan menyebabkan menurunnya kekebalan daya tahan tubuh, sehingga mudah diserang infeksi/penyakit.
                            </span><br/><br/>
                            <span>
                                Virus HIV ini dapat hidup di dalam 4 cairan tubuh manusia yaitu: cairan darah, cairan sperma, cairan vagina dan air susu ibu (Purnomo, 2009 :345). Pelajari skema berikut agar anda mendapat gambaran yang jelas tentang penularan HIV
                            </span>
                        </div>
                        <div class="item item-text-wrap">
                            <div class="item item-image">
                                <ion-scroll id="mapImage"
                                            zooming="true"
                                            direction="xy"
                                            delegate-handle="zoom-pane"
                                            class="zoom-pane"
                                            min-zoom="1"
                                            max-zoom="15"
                                            overflow-scroll="false">
                                    <img src="img/gambar11.jpg" style="width:100%"/>
                                </ion-scroll>
                                <span><strong>Gambar 11. Cara Penularan HIV </strong>(Sumber: Purnomo, 2009).</span>

                            </div>
                        </div> 
                        <div class="item item-text-wrap">
                            <span>
                                Keberadaan virus HIV membutuhkan waktu yang cukup lama (5-10 tahun) untuk dapat terdeteksi. Keberadaan virus ini dalam darah terjadi tanpa menunjukkan gejala penyakit tertentu dan keadaan ini disebut masa HIV positif. Bila seseorang terinfeksi HIV untuk pertama kali dan kemudian memeriksakan diri dengan menjalani tes darah, kemungkinan dalam tes pertama tersebut belum tentu dapat dideteksi adanya virus HIV di dalam darah. Hal ini disebabkan tubuh kita membutuhkan waktu 3-6 bulan untuk membentuk antibodi yang akan dideteksi oleh tes darah tersebut. Masa ini disebut <span class="italic">window period</span>
                                (periode jendela). Dalam masa ini, bila orang tersebut ternyata sudah mempunyai virus HIV di dalam tubuhnya (walaupun belum bisa dideteksi melalui tes darah), ia sudah bisa menularkan HIV (Purnomo, 2009: 246).
                            </span><br/><br/>
                            <span>
                                Nah, bahasan ini lebih jelas lagi apabila kalian perhatikan video yang memuat informasi dasar mengenai HIV AIDS berikut ini.
                            </span>
                        </div>
                        <a class="item item-icon-left item-text-wrap" onclick="window.open('https://www.youtube.com/watch?v=lPikGUOb080', '_system', 'location=yes'); return false;">
                            <i class="icon  ion-social-youtube"></i> Penularan dan Pencegahan HIV
                        </a>
                    </div> 
                    <div class="card">
                        <div class="item item-divider card-footer-blue-text-white item-text-wrap">
                            <i class="icon ion-android-list"></i> Diskusi 3<br/>
                        </div>
                        <div class="list"> 
                            <a class="item item-icon-left menu-row-orange" href="#pintarstudiourl/materi3_diskusi1">
                                <i class="icon ion-flag"></i> Mulai
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </ion-content>
</ion-view>
