<ion-view  view-title="Diskusi 3" class="background">
    <ion-content class="overlay"> 
        <div class="head-container">
            <img style="width: 100%;" src="img/diskusi-head.jpg"/>
            <div class="bottom-left" style="padding-left: 20px;width: 100%;background-color: rgba(255,255,255,0.8)">
                <h2 style="color: black;font-family: 'Dosis'"><strong>Diskusi III</strong></h2>
            </div>
        </div>
        <div class="padding">
            <!--<div ng-include src="'slice/content_development.html'"></div>-->
            <div class="row">
                <div class="col">
                    <div class="card animated fadeInLeft">
                        <div class="item item-text-wrap">
                            <strong>
                                Diskusikan secara berkelompok dengan beranggotakan 3-5 orang dan tulislah hasil diskusi pada buku tugas atau latihan Anda!
                            </strong>
                        </div>
                        <div class="list"> 
                            <div class="item item-icon-left item-text-wrap">
                                <i class="icon ion-paperclip"></i> Setelah kalian melihat video di atas, apa yang dapat kalian simpulkan dari video tersebut? Jelaskan!
                            </div>
                            <div class="item item-icon-left item-text-wrap">
                                <i class="icon ion-paperclip"></i> Bagaimana cara penularan dan pencegahan HIV AIDS?
                            </div> 
                            <div class="item item-icon-left item-text-wrap">
                                <i class="icon ion-paperclip"></i> Bagaimana mekanisme kerja HIV yang menginfeksi manusia?
                            </div> 
                            <div class="item item-icon-left item-text-wrap">
                                <i class="icon ion-paperclip"></i> Apa yang harus dilakukan apabila seseorang terjangkit AIDS?
                            </div> 
                            <div class="item item-icon-left item-text-wrap">
                                <i class="icon ion-paperclip"></i> Bagaimana sikap Anda terhadap orang yang menderita penyakit AIDS?
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </ion-content>
</ion-view>
