<ion-view  view-title="Diskusi 1" class="background">
    <ion-content class="overlay"> 
        <div class="head-container">
            <img style="width: 100%;" src="img/diskusi-head.jpg"/>
            <div class="bottom-left" style="padding-left: 20px;width: 100%;background-color: rgba(255,255,255,0.8)">
                <h2 style="color: black;font-family: 'Dosis'"><strong>Diskusi I</strong></h2>
            </div>
        </div>
        <div class="padding">
            <!--<div ng-include src="'slice/content_development.html'"></div>-->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="list">
                            <div class="item item-text-wrap">
                                <strong>Diskusikan bersama teman sebangku/sebelah kalian serta tulislah hasil diskusi pada buku catatan atau latihan kalian!</strong>
                            </div>
                            <div class="item item-icon-left item-text-wrap">
                                <i class="icon ion-paperclip"></i> Setelah kalian melihat contoh video fertilisasi di atas, apa yang dapat kalian simpulkan dari video tersebut? Jelaskan!
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> 
        </div> 
    </ion-content>
</ion-view>
